name: CI

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development  ]

  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14'
      - run: npm install
      - run: npm test -- -u

      - name: fix code coverage paths
        run: | 
          sed -i 's/\/home\/runner\/work\/horondi_admin\/horondi_admin\//\/github\/workspace\//g' test-report.xml
          sed -i 's/\/home\/runner\/work\/horondi_admin\/horondi_admin\//\/github\/workspace\//g' coverage/lcov.info
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
          CI: true
